%dl#classification{ :style => "display: none;" }
  %dt
    Classification
    (
    = hide_link "#classification"
    )
  %dd 
    Prediction of
    %em qualitative
    properties, e.g. to distinguish between toxic and non-toxic compounds

