%form{ :action => url_for('/endpoints'), :method => "get" }

  - @endpoints.each do |endpoint,datasets|
    %h2= endpoint.split('#').last + " " + datasets.size.to_s
    - datasets.each do |dataset|
      %br
        %input{:type=>'radio', :name => "dataset", :value => dataset} #{dataset}

  %p
    %input{:type => 'submit'}
