%dl#endpoint_description{ :style => "display: none;" }
  %dt
    Endpoint
    (
    = hide_link "#endpoint_description"
    )
  %dd 
    Toxic effect that constitutes the outcome of an
    %em in-vitro,
    or
    %em in-vivo
    experiment, clinical trial or epidemiological study
