%dl#lazar_description{ :style => "display: none;" }
  %dt
    %code lazar
    (
    = hide_link "#lazar_description"
    )
  %dd 
    %p
      %code lazar
      searches the training dataset for  
      = toggle_link "#similarity", "similar"
      compounds 
      %em (neighbors)
      and calculates the prediction from their measured activities.
      %code lazar
      calculates predictions using
      %ul
        %li
          a majority vote (weighted by compound similarity) for
          %em= toggle_link("#classification","classification")
          (
          %a{:href => "http://www.in-silico.de/articles/modi020905.pdf"} original publication
          )
        %li
          a local QSAR model based on neighbors for
          %em= toggle_link("#regression","regression")
          (
          %a{:href => "http://www.in-silico.de/articles/mh_tf.pdf"} original publication
          )
