.input

  - if session[:username] == "guest"
    .login_notice
      You are currently logged in as 
      %b guest
      and your models can be modified or deleted by other guests.
      To control models permissions you can
      log in with your
      %a{:href => "http://www.opentox.org", :rel => "external"} OpenTox
      username/password below. If you don't have an
      %a{:href => "http://www.opentox.org", :rel => "external"} OpenTox
      account yet you could  
      %a{:href => "http://www.opentox.org/join_form", :rel => "external"} register here.
  - else
    %p
      Change
      %a{:href => "http://www.opentox.org", :rel => "external"} OpenTox
      account:

  -# if !logged_in()
  %form{ :action => url_for('/login'), :method => "post" }
    %fieldset
      %label{:for => 'username'} Username:
      %input{:type => 'text', :name => 'username', :id => 'username', :size => '50'}
      %br
      %label{:for => 'password'} Password:
      %input{:type => 'password', :name => 'password', :id => 'password', :size => '50'}
    %input{ :type => "submit", :value => "Login"}
    = link_to "Cancel", '/login'
  - if session[:username] != "guest"
    %br
    %form{ :action => url_for('/login'), :method => "post" }
      %input{:type => 'hidden', :name => 'username', :id => 'username', :value => "guest"}
      %input{:type => 'hidden', :name => 'password', :id => 'password', :value => "guest"}
      %input{ :type => "submit", :value => "Login as guest"}
  -# else
    %form{ :action => url_for('/logout'), :method => "post" }
      -#%p 
        You are logged in as: 
        %b= session[:username]
        -# if LOGGER.level == Logger::DEBUG        
          %br
          = session[:subjectid]
      %input{ :type => "submit", :value => "Switch user"} 
      = link_to "Cancel", '/login'
      
