%dl#pc_descriptors{ :style => "display: none;" }
  %dt
    Physico chemical descriptors
    (
    = hide_link "#pc_descriptors"
    )
  %dd 
    More information about physico chemical descriptors found 
    %a{:href => "http://opentox.github.com/opentox-algorithm/2012/05/02/calculating-physico-chemical-descriptors-with-opentox-algorithm/", :rel => "external"} here.
