%dl#significant_fragments{ :style => "display: none;" }
  %dt
    Significant fragments
    (
    = hide_link "#significant_fragments"
    )
  %dd 
    Substructures that occur (statistically significant) more frequently in one of the toxicity classes or correlate with quantitative toxicity values. Substuctures can take any shape (without cycles) and are determined with the 
    %a{:href => "http://www.maunz.de/libfminer2-bbrc-doc/", :rel => "external"} fminer
    algorithm.
