%dl#unit{ :style => "display: none;" }
  %dt
    Unit
    (
    = hide_link "#unit"
    )
  %dd 
    Unit of measurement, e.g. mmol or mmol/kg-bodyweight.  For optimal performance you should use 
    %a{:href => "http://en.wikipedia.org/wiki/Molar_(concentration)", :rel => "external"} molar
    units.
