- if model.validation_uri
  %dl{:id => "model_validation_#{model.id}"}
    %dt
      Validation:
    %dd
      %dl
        - if model.validation_report_uri
          %dt Detailed report:
          %dd
            %a{:href => model.validation_report_uri + subjectstring, :target => "_blank"} show
        %dt Number of predictions:
        %dd= model.nr_predictions.to_s
        - case model.type
        - when "classification"
          = haml :classification_validation, :locals=>{:model=>model}, :layout => false if model.correct_predictions
        - when "regression"
          = haml :regression_validation, :locals=>{:model=>model}, :layout => false     
